*.class

# Package Files #
*.war
*.ear

# Maven and build folder defaults #
web/WEB-INF/lib/*.jar
out/**

# IntelliJ Settings #
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/**

# Implementation Specific Settings #
web/oauth.properties